:root {
    --background-dark: #23352e;
    --background-mid: #394f63;
    --background-midlight: #698379;
    --background-light: #7a9188;
    --primary-text: white;
    --tint-text: #33ce92;
    --menu-height: 3rem;
    --alert-text: rgb(190, 6, 6);
    --negative-red: rgb(124, 26, 29);
    --positive-green: rgb(28, 99, 30);
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400; /* Standaard dikte */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    background-color: var(--background-light);
    color: black;
    margin: 0rem;
}

app-root {
    display: block;
    height: 100%;
}

a {
    color: var(--tint-text);
    text-decoration: underline;
}

h1 {
    font-size: 1.88rem;
    margin: 0rem;
}

h2 {
    font-size: 1.55rem;
}

body {
    margin: 0rem;
    padding: 0rem;
    height: auto;
}

html {
  height: 100%;
}

.white-text {
  color: white;
}

table {
  color: var(--background-dark);
  padding: 0.2rem;
  width: 100%;
  margin: 1rem auto;
  border-collapse: collapse;
}

td, th {
  padding: 0.6rem 0.3rem;
  white-space: nowrap;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

tbody tr {
  border-bottom: 1px solid var(--background-mid);
  transition: background-color 150ms ease-in-out;;
}

.font-bold {
  font-weight: bolder;
}

tbody tr:hover {
  background-color: #617a91;
}

thead {
  font-size: 1.1rem;
  border-bottom: 2px solid var(--background-mid)
}

.main-component {
    min-height: 100%;
    background-color: var(--background-light);
    color: white;
    width: 100%;
    padding: 2rem;
    padding-top: var(--menu-height);
    margin: 0rem;
    box-sizing: border-box;
}

.auth-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-dark);
    color: white;
    width: 100%;
    padding: 1rem;
    margin: 0rem;
}

  .cartoon {
    border-radius: 11px;
    width: 350px;
    height: auto;
    object-fit: cover;
}

  .flex-child {
    flex: 1 0 200px;
    margin: 0rem 3rem;
}

.form-footer {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0.6rem 0rem;
}

.red-stock {
  color: var(--negative-red);
}

.green-stock {
  color: var(--positive-green);
}

.red-alert {
  color: var(--alert-text);
  margin-left: 1rem;
}

.red-alert-no-margin {
  color: var(--alert-text);
}

  form > *{
    display: block;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0.5rem 0rem;
  }

  form > input {
    background-color: #394f63;
    color: white;
    border: 0px solid #243341;
    border-radius: 4px;
    height: 1.8rem;
    width: 100%;
    padding: 0.5rem;
    transition: all 0.2s ease-in-out;
  }

  form > input:focus {
  outline: none; /* verwijder standaard blauwe rand */
  box-shadow: 0 0 3px 1px var(--tint-text);
  background-color: #617a91;
}

  form > button {
    background-color: #33ce92;
    color: black;
    border: 0px solid black;
    border-radius: 4px;
    height: 1.8rem;
    width: 100%;
    margin: 0.7rem 0px;
    padding: 0.1rem;
  }

@media screen and (min-width: 768px) {
  .main-component {
    background-color: var(--background-light);
    color: white;
    margin: 0rem auto;
    width: 768px;
  }

    .auth-component {
    background-color: var(--background-dark);
    color: white;
    width: 720px;
    margin: 0rem auto;
    border-radius: 15px;
    box-shadow: 0px 20px 38px 10px rgba(0, 0, 0, 0.3);
    margin-top: 3.5rem;
  } 
}